$color-background: #181818;
$color-surface: #1f1f1f;
$color-surface-hover: #252525;

$color-grey-dark: #333333;
$color-grey: #666666;
$color-grey-light: #aaaaaa;
$color-grey-lighter: #cccccc;

$color-border-hover: #777777;

$color-text: #e5e5e5;

$color-black: #000000;
$color-white: #ffffff;

$color-error: #e57373;