@use "../../app/styles/mixins" as *;

.layout {
    min-height: 100vh;

    &__main {
        min-width: 0;
        margin-left: 260px;
        display: flex;
        flex-direction: column;
    }

    &__content {
        flex: 1;
    }

    &__search {
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }

    @include tablet {
        &__main {
            margin-left: 220px;
        }
    }

    @include mobile {
        &__main {
            margin-left: 0;
            padding-top: 70px;
        }

        &__search {
            padding: 16px;
        }
    }
}