@use "../../app/styles/variables" as *;
@use "../../app/styles/mixins" as *;

.search-page {
  padding: 30px;

  &__title {
    margin-bottom: 30px;
    color: $color-text;
    font-size: 36px;
    font-weight: 700;
  }

  @include tablet {
    padding: 30px;

    &__title {
      font-size: 32px;
    }
  }

  @include mobile {
    padding: 20px;
    &__title {
      margin-bottom: 20px;
      font-size: 28px;
    }
  }
}