.movie-page {
  padding: 40px;

  &__header {
    display: flex;
    gap: 40px;
    align-items: flex-start;
  }

  &__image {
    width: 320px;
    border-radius: 16px;
    flex-shrink: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__title {
    font-size: 42px;
    font-weight: 700;
  }

  &__average,
  &__release-date {
    font-size: 18px;
  }

  &__genres,
  &__countries,
  &__runtime-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__genres-title,
  &__countries-title,
  &__runtime-title {
    font-weight: 600;
  }

  &__genre,
  &__country {
    font-size: 17px;
  }

  &__runtime {
    font-size: 16px;
  }

  &__description {
    margin-top: 40px;
  }

  &__overview {
    margin-top: 16px;
    line-height: 1.7;
    font-size: 17px;
  }

  &__actors-title {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
  }

  &__credits {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
  }

    &__similar-title {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
  }

  &__similar {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 24px;
  }
}